{% extends 'index.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content1 %}
    <div class="row">
        <h1 class="col-12 col-md-6 display-2">ОДЕЖДА</h1>
</div>
{% endblock %}

{% block content2 %}
    <img src="img/croissants-with-cooking-paper.jpg" width="150" height="150" alt="Штаны">
    <p class="paragraph"><b>Штаны</b></p>

    <img src="img/slice-tasty-tart-with-jam.jpg" width="150" height="150" alt="Носки">
    <p class="paragraph"><b>Носки </b></p>

    <img src="img/tasty-donuts-with-colorful-sprinkles.jpg" width="150" height="150" alt="Куртка">
    <p class="paragraph"><b>Куртка</b></p>

{% endblock %}